In [4]:
import pandas as pd
import pyarrow

In [20]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [24]:
from sqlalchemy import create_engine
import psycopg2

In [26]:
engine = create_engine('postgresql://root:postgres@localhost:5432/postgres')

In [27]:
engine.connect()

In [33]:
print(df_zones.shape[0])

265

In [34]:
print(pd.io.sql.get_schema(df_zones, name="zones", con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [35]:
df_zones.head(n=0).to_sql(name="zones", con=engine, if_exists="replace")

0

In [36]:
df_zones.to_sql(name="zones", con=engine, if_exists="append")

265

In [44]:
df_taxi = pd.read_csv("green_tripdata_2019-10.csv.gz")

C:\Users\aguan\AppData\Local\Temp\ipykernel_28796\2654965780.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_taxi = pd.read_csv("green_tripdata_2019-10.csv.gz")

In [47]:
print(df_taxi.dtypes)

VendorID                 float64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID               float64
PULocationID               int64
DOLocationID               int64
passenger_count          float64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type             float64
trip_type                float64
congestion_surcharge     float64
dtype: object